<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="S5T" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime" />
  </configSections>

  <!--base LOCAL-->
  <!--<connectionStrings>
    <add name="localhost_asscomindConnection" connectionString="XpoProvider=MySql;server=localhost;user id=root; password=manager; database=asscomind;persist security info=true;CharSet=utf8;" />
  </connectionStrings>
  <S5T persistenceTypeName="MySQL" connectionString="Database=asscomind;Server=localhost;Password=manager;User ID=root;pooling=true;" mysql-useSchemas="true" />-->
  
  
  <connectionStrings>
    <add name="localhost_asscomindConnection" connectionString="XpoProvider=MySql;server=192.168.10.2;user id=root; password=manager; database=asscomind;persist security info=true;CharSet=utf8;" />
    <add name="S5TWebCam.Settings.s5taviacaoConnectionString" connectionString="Data Source=GUILHERME-PC\SQLEXPRESS;Initial Catalog=s5taviacao;User ID=4t;Password=Manager4ts"
      providerName="System.Data.SqlClient" />
    <add name="S5TWebCam.Settings.s5taviacaoConnectionString1" connectionString="Data Source=192.168.50.39;Initial Catalog=s5taviacao;Persist Security Info=True;User ID=4ts;Password=Manager4ts"
      providerName="System.Data.SqlClient" />
    <add name="S5TWebCam.Settings.s5taviacaoConnectionString2" connectionString="Data Source=192.168.50.39;Initial Catalog=s5taviacao;User ID=4ts;Password=Manager4ts"
      providerName="System.Data.SqlClient" />
    <add name="TekaRadiusConnectionString" connectionString="Data Source=192.168.50.39;Initial Catalog=tekaradius;User ID=tekaradius1;Password=@Aviacao"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!--<S5T persistenceTypeName="MySQL"
             connectionString="Database=asscomind;Server=192.168.10.2;Password=manager;User ID=root;"
             mysql-useSchemas="true" />-->


  <!--<S5T connectionString="Server=GUILHERME-PC\SQLEXPRESS;Database=s5taviacao;User ID=4t;Password=Manager4ts;Application Name=S5T"/>-->
  <S5T connectionString="Server=192.168.50.39;Database=s5taviacao;User ID=4ts;Password=Manager4ts;Application Name=S5T" />
 
  <!--<system.windows.forms jitDebugging="true" />-->
  <!--connectionString="Server=mysql04.w4tsistemas.hospedagemdesites.ws;Database=w4tsistemas3;Password=e@4tsistemas;User ID=w4tsistemas3;pooling=false;default command timeout=60"-->
  <!--mysql-foreignKeyChecks="true"--> 
  

  <!--
   <configSections>
    <section name="AssCom015T" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime" />
  </configSections>
  <AssCom015T connectionString="Server=GIOVANA-PC\SQLEXPRESS;Database=asscomind_sql;Integrated Security=true;"/>
  
   <configSections>
    <section name="AssCom015T" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime" />
  </configSections>
  <AssCom015T persistenceTypeName="PostgreSQL" connectionString="Server=localhost;Database=asscomind_postgres;Password=manager;User ID=postgres" />
     -->
<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" culture="neutral" publicKeyToken="c5687fc88969c44d"/>
        <bindingRedirect oldVersion="6.9.5.0" newVersion="6.5.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
