<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="S5T" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--base LOCAL-->
  <!--<connectionStrings>
    <add name="localhost_asscomindConnection" connectionString="XpoProvider=MySql;server=localhost;user id=root; password=manager; database=asscomind;persist security info=true;CharSet=utf8;" />
  </connectionStrings>
  <S5T persistenceTypeName="MySQL" connectionString="Database=asscomind;Server=localhost;Password=manager;User ID=root;pooling=true;" mysql-useSchemas="true" />-->
  <connectionStrings>
    <add name="localhost_asscomindConnection" connectionString="XpoProvider=MySql;server=192.168.10.2;user id=root; password=manager; database=asscomind;persist security info=true;CharSet=utf8;" />
    <add name="S5TWinFormAviacao.Settings.s5taviacaoConnectionString"
      connectionString="Data Source=GUILHERME-PC\SQLEXPRESS;Initial Catalog=s5taviacao;User ID=4t;Password=Manager4ts"
      providerName="System.Data.SqlClient" />
    <add name="S5TWinFormAviacao.Settings.s5taviacaoConnectionString1"
      connectionString="Server=192.168.50.39;Database=s5taviacao;User ID=4ts;Password=Manager4ts;Application Name=S5T"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<S5T persistenceTypeName="MySQL"
             connectionString="Database=asscomind;Server=192.168.10.2;Password=manager;User ID=root;"
             mysql-useSchemas="true" />-->
  <!--<S5T connectionString="Server=GUILHERME-PC\SQLEXPRESS;Database=s5taviacao;User ID=4t;Password=Manager4ts;Application Name=S5T"/>-->
  <!--<S5T connectionString="Server=192.168.50.39;Database=s5taviacao;User ID=4ts;Password=Manager4ts;Application Name=S5T" />-->
  <S5T connectionString="Server=192.168.50.39;Database=s5taviacao;User ID=4ts;Password=Manager4ts;Application Name=S5T" />
  <!--<system.windows.forms jitDebugging="true" />-->
  <!--mysql-foreignKeyChecks="true"-->
  <appSettings>
    <add key="dashDbType" value="MSSqlServer" />
    <!--QUAL O BD: MSSqlServer, MySql, Oracle-->
    <add key="dashDbPointer" value="DbUAMBI4T" />
    <!--LocalBI4T, DbUAMBI4T (** Cenário Oficina e Entrada Cana Mobile | casos que funcionará em produção somente com a instância em produção, não havendo tabelas criadas e populadas em instância local Oracle XE **)-->
    <add key="dashDbPointerDualInstance" value="DbUAMBI4T" />
    <!--LocalBI4T, DbUAMBI4T (** Cenário Entrada Cana | casos que funcionará em produção com 2 instâncias intercambiáveis Oracle XE localhost versus Oracle Produção - Tabelas / views idênticas populadas em ambas as instâncias **)-->
    <add key="dashDbServerName_LocalBI4T" value="localhost" />
    <add key="dashDbUserName_LocalBI4T" value="BI4T" />
    <add key="dashDbPassword_LocalBI4T" value="manager" />
    <add key="dashDbServerName_DbUAMBI4T" value="192.168.50.36/PROTHEUSPROD" />
    <add key="dashDbUserName_DbUAMBI4T" value="P11" />
    <add key="dashDbPassword_DbUAMBI4T" value="P1112" />
    <add key="dashDbAuthType_MSSqlServer" value="SqlServer" />
    <add key="dashDbServerName_LocalBI4T_teste" value="localhost" />
    <add key="dashDbUserName_LocalBI4T_teste" value="BI4T" />
    <add key="dashDbPassword_LocalBI4T_teste" value="manager" />
    <add key="dashDbServerName_DbUAMBI4T_teste" value="192.168.50.92/PROTHEUSTST" />
    <add key="dashDbUserName_DbUAMBI4T_teste" value="PROTTST" />
    <add key="dashDbPassword_DbUAMBI4T_teste" value="PROTTST12" />
    <!--<add key="dashDbAuthType_MSSqlServer" value="SqlServer"/>
    <add key="dashDbServerName_MSSqlServer" value="GUILHERME-PC\SQLEXPRESS"/>
    <add key="dashDbDatabaseName_MSSqlServer" value="s5taviacao"/>
    <add key="dashDbUserName_MSSqlServer" value="4t"/>
    <add key="dashDbPassword_MSSqlServer" value="Manager4ts"/>-->
    <add key="dashDbAuthType_MSSqlServer" value="SqlServer" />
    <add key="dashDbServerName_MSSqlServer" value="192.168.50.39" />
    <add key="dashDbDatabaseName_MSSqlServer" value="s5taviacao" />
    <add key="dashDbUserName_MSSqlServer" value="4ts" />
    <add key="dashDbPassword_MSSqlServer" value="Manager4ts" />
    <add key="connOracleConnection_LocalBI4T" value="Data Source=(DESCRIPTION =(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=XE)));User Id=BI4T;Password=manager;" />
    <add key="connOracleConnectionMask_LocalBI4T" value="Data Source=(DESCRIPTION =(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=XE)));User Id={0};Password={1};" />
    <!--PRODUÇÃO-->
    <add key="connOracleConnection_DbUAMBI4T" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.50.36)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PROTHEUSPROD)));User Id=P11;Password=P1112;" />
    <add key="connOracleConnectionMask_DbUAMBI4T" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.50.36)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PROTHEUSPROD)));User Id={0};Password={1};" />
    <!--PROTHEUS DE TESTE-->
    <add key="connOracleConnection_DbUAMBI4T_Teste" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.50.92)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PROTHEUSTST)));User Id=PROTTST;Password=PROTTST12;" />
    <add key="connOracleConnectionMask_DbUAMBI4T_Teste" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.50.92)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PROTHEUSTST)));User Id={0};Password={1};" />
    <!--DESENV-->
    <!--<add key="connOracleConnection_DbUAMBI4T" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=srvhml-scan)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DESENV)));User Id=BI4T;Password=SISTEMAS;" />
    <add key="connOracleConnectionMask_DbUAMBI4T" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=srvhml-scan)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DESENV)));User Id={0};Password={1};" />-->
    <add key="authMode4T" value="RepoLocal" />
    <!--QUAL O MODO DE AUTENTICAÇÃO: RepoLocal=Repositório Local ASP.net Identity + Entidade Usuário-->
    <!--BDCliente=Customizado para autenticar logins e aplicar roles a partir de info no BD do cliente-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <!--
   <configSections>
    <section name="AssCom015T" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime" />
  </configSections>
  <AssCom015T connectionString="Server=GIOVANA-PC\SQLEXPRESS;Database=asscomind_sql;Integrated Security=true;"/>
  
   <configSections>
    <section name="AssCom015T" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime" />
  </configSections>
  <AssCom015T persistenceTypeName="PostgreSQL" connectionString="Server=localhost;Database=asscomind_postgres;Password=manager;User ID=postgres" />
     -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" culture="neutral" publicKeyToken="c5687fc88969c44d" />
        <bindingRedirect oldVersion="6.9.5.0" newVersion="6.5.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GSORDEMPESAGEMSOAP" />
        <binding name="SasIntegraWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.50.35:9595/ws/GSORDEMPESAGEM.apw"
        binding="basicHttpBinding" bindingConfiguration="GSORDEMPESAGEMSOAP"
        contract="ServiceFracionamentoProtheusReference.GSORDEMPESAGEMSOAP"
        name="GSORDEMPESAGEMSOAP" />
      <endpoint address="http://sasintegra.sascar.com.br:80/SasIntegra/SasIntegraWSService"
        binding="basicHttpBinding" bindingConfiguration="SasIntegraWSPortBinding"
        contract="ServiceSasIntegra.SasIntegraWS" name="SasIntegraWSPort" />
    </client>
  </system.serviceModel>
</configuration>